# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno
.env
.env.*

# Flask
instance/

# Logs
*.log

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db